## Материалы

https://realpython.com/python-namedtuple/

Tuples or named tuples with mutable values aren’t hashable.

In [1]:
t = (1, [2, 3])

In [2]:
t[1][0] = 20

In [3]:
t

(1, [20, 3])

In [4]:
hash((1, 2))

-3550055125485641917

In [5]:
# hash(t)  # => TypeError: unhashable type: 'list'

## namedtuple

`namedtuple()` is a factory function rather than a typical data structure

In [6]:
from collections import namedtuple

In [7]:
Point = namedtuple('Point', 'x y')  # also OK: ['x', 'y'], 'x y', 'x, y', (field for field in 'xy')
Point

__main__.Point

In [8]:
issubclass(Point, tuple)

True

In [9]:
point = Point(2, 4)
point

Point(x=2, y=4)

In [10]:
point.x, point.y

(2, 4)

In [11]:
point[0], point[1]

(2, 4)

In [12]:
# point.x = 100 => AttributeError: can't set attribute

In [13]:
point1 = Point(y=10, x=0)
point1

Point(x=0, y=10)

In [14]:
Point(0, 3) == Point(y=3, x=0)

True

In [15]:
Point(**{'y': 1, 'x': 3})

Point(x=3, y=1)

In [16]:
# In the case of typename, a question can arise when you look at the examples above: Why do I need to provide the typename argument?
# The answer is that you need a name for the class returned by namedtuple().
XX = namedtuple('YY', 'a')
x = XX(1)

In [17]:
x

YY(a=1)

In [18]:
x.__class__.__name__

'YY'

### rename

In [19]:
K = namedtuple('K', '_id class b name name', rename=True)
K(1, 2, 3, 4, 5)

K(_0=1, _1=2, b=3, name=4, _4=5)

### defaults

You can set defaults to an iterable of values. In this case, namedtuple() assigns the values in the defaults iterable to the rightmost fields:

In [20]:
Developer = namedtuple(
    'Developer',
    'name level language',
    defaults=['Junior', 'Python']
)

Developer("John")

Developer(name='John', level='Junior', language='Python')

### module

The motivation to add the module argument to namedtuple() in Python 3.6 was to make it possible for named tuples to support pickling through different Python implementations.

In [21]:
Point = namedtuple('Point', 'x y', module='custom')
Point

custom.Point

## Creating namedtuple Instances From Iterables

In [22]:
Person = namedtuple('Person', 'name age height')
Person._make(['Jane', 25, 1.75])

Person(name='Jane', age=25, height=1.75)

## Converting namedtuple Instances Into Dictionaries

In [23]:
Person = namedtuple('Person', 'name age height')
jane = Person('Jane', 25, 1.75)
jane._asdict()

{'name': 'Jane', 'age': 25, 'height': 1.75}

## Replacing Fields in Existing namedtuple Instances

In [24]:
Person = namedtuple('Person', 'name age height')
jane = Person('Jane', 25, 1.75)

# After Jane's birthday
jane = jane._replace(age=26)
jane

Person(name='Jane', age=26, height=1.75)

## _fields, _field_defaults

In [25]:
Person = namedtuple(
    'Person',
    'name age height weight country',
    defaults=['Canada']
)

Person._field_defaults

{'country': 'Canada'}

In [26]:
Person._fields

('name', 'age', 'height', 'weight', 'country')